@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media query manager

/* 
0-600 : phone
600-900: tablet portrait
900 - 1200: tablet landscape
1200-1800: is where our normal styles apply
1800 -- : Big dextop
// order: base + typography > general layout + grid > page layout > components

break point argument choices
-phone
-tab-port
-tab-land
-big-desktop
1 em = 16px
*/
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      //1800 px
      @content;
    }
  }
}
